<h4 class="header ca"><%= _('Static Links') %></h4>

<table class="<%= table_css_classes('table-condensed table-fixed') %>">
  <thead>
    <th><%= N_("Link") %></th>
  </thead>
  <% if defined(@linklist) %>
    <tr>
      <td>
        @linklist is defined
      </td>
    </tr>
  <% end %>
</table>
