<div id="breadcrumb">
  <div class="row form-group">
    <h1 class="col-md-8">
      <%= _('Static Links') %>
    </h1>
  </div>
</div>

<table class="<%= table_css_classes('table-condensed table-fixed') %>">
  <thead>
    <th><%= N_("Link") %></th>
  </thead>
  <% @linklist.each do |onelink| %>
    <tr>
      <td><%= link_to(onelink['title'], onelink['url'], title: onelink['comment'], target: onelink['target']) %></td>
    </tr>
  <% end %>
</table>

