<div id="breadcrumb">
  <div class="row form-group">
    <h1 class="col-md-8">
      <%= _('Static Links') %>
    </h1>
  </div>
</div>

<table class="<%= table_css_classes('table-condensed table-fixed') %>">
  <thead>
    <th><%= N_("Link") %></th>
    <th/>
  </thead>
  <% @links.each do |link| %>
    <tr>
      <td><!-- link_to link['title'], link['url'], title: target['comment'], target: link['target'] -->Test</td>
    </tr>
  <% end %>
</table>

